@model IEnumerable<GraniteHouse.Models.Products>
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<div class="Container">
    <div class="row">
        <div class="col-md-6">
            <h2>Special Tags List</h2>
        </div>
        <div class="col-md-6">
            <a class="btn btn-info float-right" asp-action="Create"><i class="fas fa-plus"></i> New Product</a>
        </div>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">@Html.DisplayNameFor(m => m.Name)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.Price)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.Available)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.ProductTypes)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.SpecialTags)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>@Html.DisplayFor(m => item.Price)</td>
                <td>@Html.DisplayFor(m => item.Available)</td>
                <td>@Html.DisplayFor(m => item.ProductTypes)</td>
                <td>@Html.DisplayFor(m => item.SpecialTags)</td>
                <partial name="_TableButtonPartial" model="item.Id" />
            </tr>
            }
        </tbody>
    </table>
</div>


